@import "player-output";
@import "player-modal";

@import "player-expand";
@import "player-help";
@import "player-info";
@import "player-play-pause";
@import "player-previous";
@import "player-sound";
@import "player-timer";

@import "player-navbar";
@import "player-xl";

// common
.progradio-player {
  position: fixed;
  opacity: 1;

  .player-favorite, .player-timer, .player-sound {
    cursor: pointer !important;
  }
}

.timer-fade-enter-active, .timer-fade-leave-active,
.play-prev-fade-enter-active, .play-prev-fade-leave-active {
  transition: opacity .3s ease;
}
.timer-fade-enter-from, .timer-fade-leave-to,
.play-prev-fade-enter-from, .play-prev-fade-leave-to {
  opacity: 0;
}

.player-enter-active, .player-leave-active {
  transition: all .3s ease;
}
.player-enter-from, .player-leave-to {
  bottom: -7px;
  opacity: 0;
}