.collection-switcher {
  &:hover {
    .collection-switcher-next {
      top: 0;
    }
  }

  .collection-switcher-next {
    z-index: 1250;
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 20px;
    left: 0;
    width: 71px;
    padding-top: 1px;
    padding-bottom: 1px;

    color: darken($white, 10%);
    font-size: 0.769rem;
    text-align: center;

    //background-color: darken(@collection-background, 3%);
    background-color: $collection-background;

    transition: top 150ms ease-in-out 25ms;
  }

  .collection-control {
    z-index: 1251;
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: $navbar-height - 34px;

    @include media-breakpoint-down(sm) {
      top: calc(#{$navbar-height} - 35px);
    }

    @include width(35px);

    text-align: center;
    color: darken(white, 15%);
    font-size: 18px;
    cursor: pointer;

    background-color: $collection-background;
    padding-top: 5px;
    padding-bottom: 3px;

    &:hover {
      color: darken(white, 10%);
      background-color: darken($collection-background, 3%);
    }

    &.collection-backward {
      left: 0;
    }

    &.collection-forward {
      left: 35px;
      @include width(36px);
    }
  }
}
