@import "../variables";

.schedule-radio-grid {
  .schedule-radio-grid-row {
    .program-container {
      position: absolute;

      margin-top: 1px;
      height: 60px;
      box-sizing: border-box;

      user-select: none;

      &.none {
        //position: fixed; seems to work only on FF
        position: relative;

        @width: 350px;
        width: @width;
        min-width: @width;
        max-width: @width;

        background-color: lighten(@background-color, 3%);

        transition: left 0.2s ease-in-out 0.3s;

        .program {
          margin-right: 0 !important;

          .program-inner {
            user-select: none;
          }
        }
      }

      .program {
        height: 100%;
        box-sizing: border-box;

        margin-right: 5px;
        background-color: white;
        border: none;
        border-left: 3px solid darken(@background-color, 20%);

        transition: box-shadow 0.2s ease-in-out;
        user-select: none;

        &.program-current {
          background-color: mix(white, @timeline-cursor-color, 97.5%);
          border-left: 3px solid mix(darken(@background-color, 20%), @timeline-cursor-color, 85%);
        }

        &.program-full {
          visibility: hidden;
          position: absolute;
          //overflow-y: scroll;

          transition: height 0.3s ease-in-out 0.4s, width 0.5s ease-in-out, min-width 0.5s ease-in-out;
        }

        &:hover {
          z-index: 3 !important;
          box-shadow: 0 0 10px -3px rgba(0,0,0,.35);

          .program-img {
            opacity: 1 !important;
            width: auto !important;
          }

          .schedule-display {
            visibility: visible !important;
            opacity: 1 !important;
          }

          .program-description-short {
            visibility: visible !important;
            opacity: 1 !important;
          }
        }

        .program-inner {
          height: 100%;
          width: 100%;

          padding: 7px 10px 0 10px;
          border: 1px solid #e8e8e8;
          border-left: 0;

          user-select: none;
          -moz-user-select: none;

          .program-img {
            float: left;
            height: 58px;

            opacity: 0;
            width: 0;
            transition: opacity 0.3s ease-in-out;

            margin: -7px 5px 0 -10px;

            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;

            img {
              height: 58px;
              //width: 77px;
            }

          }

          .program-title {
            font-weight: bold;
            color: #262b2f;
            line-height: 1;

            user-select: none;
            -moz-user-select: none;

            margin-bottom: 0;
            overflow: hidden;
            white-space: nowrap;

            .schedule-display {
              .pull-right();

              visibility: hidden;
              opacity: 0;
              transition: opacity 0.3s ease-out 0s;

              color: darken(@background-color, 25%);
              font-weight: normal;
              font-size: @font-size-small;
            }
          }

          .program-host {
            color: lighten(#262b2f, 10%);
            font-size: 11px;

            user-select: none;
            -moz-user-select: none;

            overflow: hidden;
            white-space: nowrap;
          }

          .program-description-short {
            visibility: hidden;
            opacity: 0;
            margin-top: -3px;
            transition: opacity 0.3s ease-out 0s;

            &.program-description-nohost {
              margin-top: 8px;
            }

            .program-description-short-inner {
              position: relative;

              &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(to right, rgba(255,255,255,0) 90%,rgba(255,255,255,0.88) 95%,rgba(255,255,255,1) 99%);
              }

              color: darken(@background-color, 25%);
              font-weight: normal;
              font-size: 11px;

              user-select: none;
              -moz-user-select: none;

              overflow: hidden;
              white-space: nowrap;
            }
          }

        }
      }
    }
  }
}


