@import "../variables";

.schedule-radio-grid {
  margin-top: 40px;
  margin-left: @margin-from-radio-list;
  padding-bottom: 25px;

  position: relative;
  //overflow: hidden;
  white-space: nowrap;
  cursor: move;
  z-index: 1;

  width: @viewport-width;

  transition: left 0.85s cubic-bezier(.21,1.12,.67,.99);

  .schedule-radio-grid-row {
    display: flex;
    align-items: stretch;

    overflow: hidden;
    white-space: nowrap;

    box-sizing: border-box;
    height: 64px;
    padding: 2px 0;
  }
}


