@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "bootswatch/paper/variables";
@import "bootswatch/paper/bootswatch";

html {

}

body {
  margin-top: 60px;
}

/* bootstrap overloading */
.navbar {
  min-height: 50px;

  .navbar-brand {
    height: 50px;
    padding-top: 13.5px;
  }

  .navbar-brand-name > {
    display: inline-block;
    float: left;

  }

  .navbar-brand-name > img {
    display: inline-block;
    float: left;
    margin: -1px 10px 0;
    //padding: 0 15px 0 0;
  }
}
