@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "bootswatch/paper/variables";
@import "bootswatch/paper/bootswatch";

@import "variables";

@import "components/navbar";
@import "components/ribbon";

body {
  margin-top: 50px;
  //background-color: @background-color;
  background-color: white;

  .navbar {
    .navbar-right {
      margin-right: 25px;
    }
  }

  .footer {
    //position: absolute;
    //bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    //height: 40px;

    font-size: 12px;
    small {
      color: @timeline-color;
      font-size: 11px;
    }

    p {
      color: @timeline-color;
      margin: 8px 0;
    }

    a {
      color: lighten(@timeline-color, 5%);

      &:hover,
      &:focus {
        color: @timeline-color;
      }
    }
  }
}

#app {
  overflow-x: hidden;
  background-color: @background-color;
}

@import "components/timeline";
@import "pages/faq";
@import "pages/day";

.schedule-container {
  //overflow: hidden;
  @import "components/schedule-radiolist";
  @import "components/schedule-grid";
  @import "components/schedule-grid-program";
}
