{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
<div class="container container-content">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3>Créer un compte</h3>

            <div class="alert alert-success" role="alert">
                <strong>Votre compte a bien été créé !</strong><br>
                Si vous aviez des radios en favoris celles-ci ont été automatiquement ajoutées à votre compte.
            </div>

            <p>
                <strong>Que souhaitez-vous faire maintenant ?</strong><br>
                <a href="{{ path('homepage') }}#/schedule">Consulter les programmes radios</a><br>
                <a href="{{ path('homepage') }}#/streaming">Ecouter des radios en streaming</a>
            </p>

        </div>
        <div class="col-md-offset-1 col-md-5 col-xs-12">
            <div class="well content-side-well">
                <h5>Pourquoi s'enregistrer ?</h5>
                <p>Un compte vous permet d'accéder à vos favoris depuis l'application ou n'importe quel navigateur.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
