{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="container container-content">
    <div class="row">
        <div class="col-md-6">
            <h3>Réinitialisation du mot de passe</h3>

            {% if success == true %}
            <div class="alert alert-success" role="alert">
                Le mot de passe a été mis à jour. Vous pouvez vous connecter <a href="{{ path('app_login') }}">ici</a>.
            </div>
            {% else %}
                {{ form_start(form, {'action': path('reset_password', {'token': token})}) }}
                {{ form_row(form.plainPassword) }}

                <button type="submit" class="btn btn-primary">Soumettre</button>
                {{ form_end(form) }}

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
