.tab-now {
  .border-bottom {
    border-bottom-color: var(--progradio-now-border-color) !important;
  }
}

.now-page{
  .now-page-show {
    .media-timeline {
      display: none;
    }
  }

  .now-page-streams {
    min-height: 75px;
  }
}

