.stream-page {
  h4 {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .stream-page-stream {
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin: auto;
    }
  }

  .stream-page-live {
    background-color: var(--progradio-live-song-background-color);
    border-radius: 5px;

    .stream-page-live-search {
      span {
        @include media-breakpoint-down(sm) {
          display: none !important;
        }
      }
    }
  }

  .stream-one-tags {
    span.badge {
      padding: 6px 8px;
      border-radius: 4px;
    }
  }

  .more-streams {
    .streams-one-more {
      width: 100px;
      height: 155px;

      font-size: 0.769rem;
      color: var(--progradio-more-stream-text-color);

      border: 0;

      @include media-breakpoint-down(sm) {
        width: 75px !important;

        div.streams-one-img {
          max-width: 73px;
          max-height: 73px;
        }
      }

      div.streams-one-img {
        max-width: 75px;
        max-height: 75px;
      }
    }

    .more-link {
      font-size: 0.923rem;
    }
  }
}

.live-song-cover {
  min-width: 5.769rem;
  max-width: 8.692rem;

  img {
    max-width: 7.692rem;
  }

  @include media-breakpoint-down(sm) {
    width: 6.769rem;

    img {
      max-width: 5.769rem;
    }
  }
}

.history-song-cover {
  img {
    max-width: 3.846rem;
  }
}