@import 'nouislider/dist/nouislider.css';

.stream-page {
  h4 {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .fs-4 {
    font-size: 1.385rem;
  }

  .stream-page-stream {
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin: auto;
    }
  }

  .stream-page-live {
    background-color: var(--progradio-live-song-background-color);
    border-radius: 5px;

    .stream-page-live-search {
      span {
        @include media-breakpoint-down(sm) {
          display: none !important;
        }
      }
    }
  }

  .stream-one-tags {
    span.badge {
      padding: 6px 8px;
      border-radius: 4px;
    }
  }

  .more-streams {
    .streams-one-more {
      width: 100px;
      height: 155px;

      font-size: 0.769rem;
      color: var(--progradio-more-stream-text-color);

      border: 0;

      @include media-breakpoint-down(sm) {
        width: 75px !important;

        div.streams-one-img {
          max-width: 73px;
          max-height: 73px;
        }
      }

      div.streams-one-img {
        max-width: 75px;
        max-height: 75px;
      }
    }

    .more-link {
      font-size: 0.923rem;
    }
  }

  #volume-slider {
    height: 7px;
    border: none;
    width: 6.538rem;
  }

  #volume-slider .noUi-connect {
    background: $primary;
  }

  #volume-slider .noUi-handle::before, #volume-slider .noUi-handle::after {
    content: none;
  }

  #volume-slider .noUi-handle {
    box-shadow: none;
    border: none;
    height: 14px;
    width: 14px;
    top: -4px;
    right: -7px; /* half the width */
    border-radius: 9px;
    background: lighten($primary, 10%);
  }

  #volume-slider.noUi-target, .noUi-target {
    background-color: lighten($primary, 40%) !important;
    box-shadow: none !important;
    border: none;
  }
}

.live-song-cover {
  min-width: 5.769rem;
  max-width: 8.692rem;

  img {
    max-width: 7.692rem;
  }

  @include media-breakpoint-down(sm) {
    width: 6.769rem;

    img {
      max-width: 5.769rem;
    }
  }
}

.history-song-cover {
  img {
    max-width: 3.846rem;
  }
}