@mixin img_play {
  background-color: var(--progradio-stream-play-color);

  mask-image: url(/img/play-button-inside-a-circle.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 75% 75%;

  -webkit-mask-image: url(/img/play-button-inside-a-circle.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 70% 70%;
}

.stream-one-tags {
  .badge {
    display: inline-flex;
    margin: 5px 2px;

    cursor: pointer;

    &.badge-inverse {
      color: var(--progradio-badge-color);
      border: 1px solid var(--progradio-badge-color);

      &:hover {
        color: var(--progradio-badge-color-hover);
        border: 1px solid var(--progradio-badge-color);
      }
    }
  }
}

.streams-filters-container {
  @include media-breakpoint-down(sm) {
    .multiselect-div {
      width: 100% !important;
    }
  }

  .streams-filters-search {
    /* apparently start and end are not reversed in rtl w/ Bootstrap */
    &:dir(rtl) {
      margin-right: inherit !important;
      margin-left: auto !important;

      button {
        margin-right: 0 !important;
        margin-left: .25rem !important;
      }
    }
  }

  .form-control {
    padding-top: 0.308rem;
    padding-bottom: 0.615rem;
    padding-left: 0.769rem;
  }

  .form-control-feedback {
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    z-index: 100;
    display: block;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    color: var(--progradio-streams-filter-search-close);

    &:hover {
      opacity: 1;
    }
  }
}

.streams {
  flex-direction: row;
  flex-wrap: wrap;

  .streams-one {
    opacity: 1;
    position: relative;
    width: 150px;
    //border: 1px solid red;
    background-color: var(--progradio-program-bg-color);
    border: 1px solid var(--progradio-streams-one-border);

    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    @include media-breakpoint-down(sm) {
      width: 100px;
    }

    &:hover {
      .streams-one-admin-edit, .streams-one-admin-copy {
        visibility: visible;
      }
    }

    /* from gb-flag */
    .streams-one-icon {
      height: 15px;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      user-select: none;
    }

    .streams-one-fav {
      position: absolute;
      top: -1px;
      left: 4px;

      filter: grayscale(100%);

      &:not(.streams-one-fav-isfavorite) {
        display: none;
      }

      &.streams-one-fav-isfavorite, &:hover {
        filter: none;
      }

      &.streams-one-fav-isfavorite:hover {
        filter: grayscale(100%);
      }
    }

    .streams-one-flag {
      position: absolute;
      top: -2px;
      right: 4px;

      &:hover {
        filter: brightness(0.85);
      }
    }

    .streams-one-admin-edit {
      @include media-breakpoint-down(sm) {
        display:none;
      }

      visibility: hidden;
      position: absolute;
      top: -2px;
      right: 51px;

      &:hover {
        filter: brightness(0.85);
      }
    }

    .streams-one-admin-copy {
      @include media-breakpoint-down(sm) {
        display:none;
      }

      visibility: hidden;
      position: absolute;
      top: -2px;
      right: 75px;

      &:hover {
        filter: brightness(0.85);
      }
    }

    .streams-one-errors {
      position: absolute;
      top: 9.615rem;
      right: 4px;
      color: var(--bs-warning);


      &:hover {
        filter: brightness(0.85);
      }
    }

    .streams-one-listeners {
      position: absolute;
      top: 127px;
      right: 4px;

      opacity: 0.85;
      transition: opacity 150ms;

      @include media-breakpoint-down(sm) {
        top: 80px;
        right: 3px;
      }

      &:hover {
        opacity: 1;
      }
    }

    .streams-one-img {
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 85%;

      cursor: pointer;

      @include media-breakpoint-down(sm) {
        height: 100px;
      }
    }

    .streams-one-name {
      position: relative;

      height: 120px;
      overflow-y: hidden;
      text-align: center;

      //line-height: 60px;
      line-height: 1.5em;
      color: var(--progradio-stream-text-color);
      font-size: 0.923rem;

      //cursor: pointer;

      padding-left: 10px;
      padding-right: 10px;

      .streams-one-name-detail {
        cursor: pointer;
      }

      a.streams-one-name-detail {
        color: var(--progradio-stream-text-color);
        text-decoration: none;

        &:hover {
          color: var(--progradio-stream-text-color);
          text-decoration: underline;
        }
      }

      .streams-one-song {
        position: absolute;
        bottom: 5px;
        width: 90%;
        text-align: center;
        overflow: hidden;
        color: $gray-500;
        font-size:  0.846rem;
        line-height: 1.3em;
      }

      .streams-one-tags {
        position: absolute;
        bottom: 5px;
        width: 90%;
        text-align: center;
        //display: none;
        overflow: hidden;
        line-height: 1.7em;
        cursor: pointer;

        @include media-breakpoint-down(sm) {
          display: block;
        }

        .badge {
          display: inline;
          margin: 0 1px;
          cursor: pointer;
          background-image: none;

          &.badge-inverse {
            color: var(--progradio-stream-badge-color);
            border: 1px solid var(--progradio-stream-badge-color);

            &:hover {
              color: var(--progradio-stream-badge-color-hover);
              border: 1px solid var(--progradio-stream-badge-color-hover);
            }
          }
        }
      }
    }

    .streams-one-img-play {
      width: 100%;
      height: 100%;

      &:hover {
        @include img_play;
      }
    }

    &:hover {
      .streams-one-fav {
        display: block;
      }

      .streams-one-tags {
        display: block;
      }
    }

    &.streams-one-play-active:not(.streams-one-play-hide) {
      .streams-one-img-play {
        @include img_play;
      }
    }

    // "more" on stream page, tags are not displayed
    &.streams-one-more .streams-one-name {
      height: 75px;
    }

    &:hover:not(.streams-one-play-hide), &:hover:not(.streams-one-more), &.streams-one-play-active:not(.streams-one-play-hide) {
      box-shadow: 0 0 7px 0 rgba(0,0,0,.35);

      &.streams-one-play-active:not(:hover) {
        .streams-one-img-play {
          opacity: 0.9;
        }

        &.streams-one-play-paused:not(:hover) {
          .streams-one-img-play {
            opacity: 0.6;
          }
        }
      }

      &.streams-one-play-active {
        .streams-one-name {
          font-weight: bold;
        }
      }

      &.streams-one-play-active:not(.streams-one-play-paused) {
        .streams-one-img-play {
          mask-image: url(/img/rounded-pause-button.svg) !important;
          -webkit-mask-image: url(/img/rounded-pause-button.svg) !important;

          /* IE only, default to black icon */
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            background-image: url(/img/rounded-pause-button.svg) !important;
          }
        }
      }
    }
  }
}

.stream-list-leave-active, .stream-list-enter-active {
  transition: all .17s;
}

.stream-list-leave-to, .stream-list-enter-from {
  opacity: 0;
}

ul.pagination {

li a {
  cursor: default;
}

li.ellipsis {
  padding-left: 32px;

  & a:before {
    content: "\2026";
    font-size: 1.846rem;
    position: absolute;
    top: 0;
    left: -25px;
    color: var(--bs-body-color);
  }
}
}
