{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead, not ie 11, firefox 60, Opera 60, Edge 16, safari 11, Chrome 85",
        "corejs": { version: 3, proposals: true },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
