{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ">= 1%, not dead, not IE 11, Firefox >= 60, Opera >= 60, Edge >= 16, safari >= 11, Chrome >= 85",
        "corejs": { version: 3.7, proposals: true },
        "useBuiltIns": "entry",
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "lodash"
  ]
}
