{
  "presets": [
    "@babel/preset-typescript",
    "babel-preset-typescript-vue3",
    [
      "@babel/preset-env",
      {
        "targets": ">= 1%, not dead, not IE 11, Firefox >= 100, Opera >= 80, Edge >= 100, safari >= 12, Chrome >= 95",
        "corejs": { version: 3.7, proposals: true },
        "useBuiltIns": "entry",
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "lodash"
  ]
}
