# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

(Symfony4)
/public/bundles/
/.web-server-pid
/.env.local
/.env.local.php
/.env.*.local

# Parameters
/Scraper/scraper_parameters.yml

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
!var/SymfonyRequirements.php

/vendor/

# Assets and user uploads
/public/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml
.phpunit

/public/media/program/*
/public/media/stream/*
/public/media/temp/*
/public/media/cache/page_thumb/media/program/*
/public/media/cache/program_thumb/media/program/*
/public/media/cache/stream_thumb/media/program/*
/public/media/cache/stream_thumb/media/stream/*
/public/media/cache/notification_thumb/media/program/*
!/public/media/program/.gitkeep
!/public/media/stream/.gitkeep
!/public/media/temp/.gitkeep
!/public/media/cache/program_thumb/media/.gitkeep
!/public/media/cache/stream_thumb/media/.gitkeep
!/public/media/cache/program_thumb/.gitkeep
!/public/media/cache/page_thumb/media/.gitkeep

# Compiled assets
/public/build/js/*
!/public/build/js/app.js
/public/build/css/*.map
/public/build/css/main.css
/public/build/css/main_light.css
/public/build/css/main_dark.css

# Composer PHAR
/composer.phar

# Idea's Ide
.idea/

# Bower components
/public/bower_components/

# Node components
/node_modules/
/Scraper/node_modules/
/streams-proxy/node_modules/

/public/vue/utils/petite-vue.es.js
/public/phpinfo.php

# Elixir

# The directory Mix will write compiled artifacts to.
/progradio_api/_build/
# If you run "mix test --cover", coverage assets end up here.
/progradio_api/cover/
# The directory Mix downloads your dependencies sources to.
/progradio_api/deps/
# Where 3rd-party dependencies like ExDoc output generated docs.
/progradio_api/doc/
# Ignore .fetch files in case you like to edit your project deps locally.
/progradio_api/.fetch
# If the VM crashes, it generates a dump, let's ignore it too.
/progradio_api/erl_crash.dump
# Also ignore archive artifacts (built via "mix archive.build").
/progradio_api/*.ez
# Ignore package tarball (built via "mix hex.build").
/progradio_api/progradio_api-*.tar
# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/progradio_api/priv/static/
/progradio_api/priv/cert/*

# Tools

# Vagrant

# generated during provisionning
/tools/vagrant/.vagrant/
/tools/vagrant/puphpet/files/dot/ssh/root_id_rsa.ppk
/tools/vagrant/puphpet/files/dot/ssh/root_id_rsa.pub
/tools/vagrant/puphpet/files/dot/ssh/id_rsa.ppk
/tools/vagrant/puphpet/files/dot/ssh/id_rsa.pub
/tools/vagrant/puphpet/files/dot/ssh/root_id_rsa
/tools/vagrant/puphpet/files/dot/ssh/id_rsa

# Capistrano
/tools/capistrano/config/deploy/*.rb
/tools/capistrano/ssh/deployer*
/tools/capistrano/log/capistrano.log
/work/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

.eslintcache

*.pem
*.crt

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
