# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

(Symfony4)
/public/bundles/
/.web-server-pid
/.env.local
/.env.local.php
/.env.*.local

# Parameters
/config/scraper_parameters.yml

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
!var/SymfonyRequirements.php

/vendor/

# Assets and user uploads
/public/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml
.phpunit

/public/media/program/*
/public/media/cache/page_thumb/media/program/*
/public/media/cache/program_thumb/media/program/*
!/public/media/program/.gitkeep
!/public/media/cache/program_thumb/media/.gitkeep
!/public/media/cache/program_thumb/.gitkeep
!/public/media/cache/page_thumb/media/.gitkeep
!/public/media/cache/page_thumb/.gitkeep

/public/build/js/*

# Composer PHAR
/composer.phar

# Idea's Ide
.idea/

# Bower components
/public/bower_components/

# Node components
/node_modules/
/Scraper/node_modules/

# Compiled assets
/public/build/js/*

/public/phpinfo.php

# Elixir

# The directory Mix will write compiled artifacts to.
/Importer/_build/
# If you run "mix test --cover", coverage assets end up here.
/Importer/cover/
# The directory Mix downloads your dependencies sources to.
/Importer/deps/
# Where 3rd-party dependencies like ExDoc output generated docs.
/Importer/doc/
# Ignore .fetch files in case you like to edit your project deps locally.
/Importer/.fetch
# If the VM crashes, it generates a dump, let's ignore it too.
/Importer/erl_crash.dump
# Also ignore archive artifacts (built via "mix archive.build").
/Importer/*.ez
#Config
/Importer/config/dev.exs
/Importer/config/prod.exs

# Tools

# Vagrant

# generated during provisionning
/tools/vagrant/.vagrant/
/tools/vagrant/puphpet/files/dot/ssh/root_id_rsa.ppk
/tools/vagrant/puphpet/files/dot/ssh/root_id_rsa.pub
/tools/vagrant/puphpet/files/dot/ssh/id_rsa.ppk
/tools/vagrant/puphpet/files/dot/ssh/id_rsa.pub
/tools/vagrant/puphpet/files/dot/ssh/root_id_rsa
/tools/vagrant/puphpet/files/dot/ssh/id_rsa

# Capistrano
/tools/capistrano/config/deploy/*.rb
/tools/capistrano/ssh/deployer*
/tools/capistrano/log/capistrano.log

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###


/work/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
