//@import url(https://fonts.googleapis.com/css2?family=Lobster&text=AdictRadoProgmes&display=swap);

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/logo.woff2) format('woff2');
  //src: url(https://fonts.gstatic.com/l/font?kit=neILzCirqoswsqX9_oC0OoliAvSRzBR3yET4sg&skey=7ed805a363b4659c&v=v23) format('woff2');
}

[v-cloak] {display: none}

@import 'utils/mixins';
@import 'utils/vuemultiselect';

@import 'utils/misc';

@import "components/_navbar.scss";
@import "components/_offmenu.scss";
@import "components/_footer.scss";

// components

@import "components/loader";
@import "components/toast";
@import "components/player/player";
@import "components/schedule/collection-switcher";
@import "components/schedule/category-filter";
@import "components/schedule/timeline";
@import "components/schedule/schedule-grid";
@import "components/schedule/schedule-grid-program";
@import "components/schedule/schedule-radiolist";

// pages

@import "page/radio";
@import "page/faq";
@import "page/streams";
@import "page/stream";
@import "page/admin";
@import "page/now";
@import "page/songs";

:root,
[data-bs-theme=light] {
  --progradio-background-color: #{$background-color};

  --progradio-player-background: #{$player-background};
  --progradio-navbar-shadow: #{$navbar-shadow};

  --progradio-offcanvas-divider: #{$offcanvas-divider};

  --progradio-alert-light-bg: #{$alert-light-bg};
  --progradio-alert-light-color: #{$alert-light-color};

  --progradio-loader-text: #{$loader-text};
  --progradio-loader-background: #{$loader-background};

  --progradio-timeline-color: #{$timeline-color};
  --progradio-timeline-line-color: #{$timeline-line-color};
  --progradio-timeline-line-current-color: #{$timeline-line-current-color};

  --progradio-radio-stream: #{$radio-stream};
  --progradio-radio-stream-hover: #{$radio-stream-hover};
  --progradio-radio-stream-filter: #{$radio-stream-filter};
  --progradio-radio-stream-filter-hover: #{$radio-stream-filter-hover};
  --progradio-stream-select-pointed: #{$stream-select-pointed};

  --progradio-streams-one-border: #{$streams-one-border};

  --progradio-player-color: #{$player-color};
  --progradio-player-link-color: #{$player-link-color};
  --progradio-fader-primary: #{$fader-primary};

  --progradio-fader-primary-top: #{$fader-primary-top};
  --progradio-fader-primary-bottom: #{$fader-primary-bottom};

  --progradio-timer-active: #{$timer-active};

  --progradio-timeline-cursor-color: #{$timeline-cursor-color};
  --progradio-timeline-cursor-color-today: #{$timeline-cursor-color-today};
  --progradio-timeline-controls-bg-color: #{$timeline-controls-bg-color};
  --progradio-timeline-calendar-bg-color: #{$timeline-calendar-bg-color};

  --progradio-collection-background: #{$collection-background};
  --progradio-collection-switcher-next-color: #{$white-darken-10};
  --progradio-collection-control-color: #{$white-darken-15};
  --progradio-collection-control-hover-color: #{$white-darken-10};
  --progradio-collection-control-hover-bg: #{$collection-control-hover-bg};

  --progradio-filter-background: #{$filter-background};
  --progradio-filter-background-hover: #{$filter-background-hover};

  --progradio-radio-list-background: #{$radio-list-background};
  --progradio-radio-list-submenu-color: #{$radio-list-submenu-color};
  --progradio-radio-list-submenu-bg-color: #{$radio-list-submenu-bg-color};
  --progradio-radio-logo-play: #{$radio-logo-play};
  --progradio-radio-logo-border-b: #{$radio-logo-border-b};
  --progradio-program-text-color: #{$program-text-color};
  --progradio-program-song-color: #{$program-song-color};

  --progradio-program-bg-color: #{$program-bg-color};
  --progradio-program-current-border-l: #{$program-current-border-l};
  --progradio-program-border-color: #{$program-border-color};
  --progradio-program-hover-color: #{$program-hover-color};
  --progradio-program-inner-fade-1: #{$program-inner-fade-1};
  --progradio-program-inner-fade-2: #{$program-inner-fade-2};
  --progradio-program-inner-fade-3: #{$program-inner-fade-3};

  --progradio-program-container-color: #{$program-container-color};
  --progradio-program-container-none-bg: #{$program-container-none-bg};
  --progradio-schedule-display-color: #{$schedule-display-color};

  --progradio-program-section: #{$program-section};
  --progradio-program-section-hover: #{$program-section-hover};

  --progradio-streams-filter-search-close: #{$streams-filter-search-close};

  --progradio-stream-text-color: #{$stream-text-color};
  --progradio-stream-play-color: #{$stream-play-color};

  --progradio-stream-select-selected-text: #{$stream-select-selected-text};
  --progradio-stream-select-option-text: #{$stream-select-option-text};
  --progradio-stream-select-border: #{$stream-select-border};
  --progradio-stream-select-background-hover: #{$stream-select-background-hover};
  --progradio-stream-select-search: #{$stream-select-search};

  --progradio-badge-color: #{$badge-color};
  --progradio-badge-color-hover: #{$badge-color-hover};

  --progradio-stream-badge-color: #{$stream-badge-color};
  --progradio-stream-badge-color-hover: #{$stream-badge-color-hover};

  --progradio-now-border-color: #{$now-border-color};
  --progradio-live-song-background-color: #{$live-song-background-color};
  --progradio-radio-page-more-one-hover-background: #{$radio-page-more-one-hover-background};

  --progradio-more-stream-text-color: #{$more-stream-text-color};

  --progradio-footer-a: #{$footer-a};
}

body {
  padding-top: $padding-top;
  // padding-bottom: $padding-bottom;

  &.body-app {
    background-color: var(--progradio-background-color) !important;
    padding-top: 50px;
  }

  &.body-app-schedule {
    #app {
      overflow-x: hidden;
    }
  }

  ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
  }
}

.tooltip {
  z-index: $zindex-tooltip !important;
}

/* Bootstrap overloading */

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-width: 300px;
}
