@import "colors";
@import "variables";

// theme

@import "bootswatch_materia/_variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "bootswatch_materia/_bootswatch";

@import 'utils/mixins';
@import 'utils/vue-select';

@import '../../node_modules/vue-toast-notification/dist/theme-sugar.css';
.v-toast-success{ background-color: $success !important; }

@import 'utils/misc';

@import "components/_navbar.scss";
@import "components/_footer.scss";

// components

@import "components/loader";
@import "components/player/player";
@import "components/schedule/collection-switcher";
@import "components/schedule/category-filter";
@import "components/schedule/timeline";
@import "components/schedule/schedule-grid";
@import "components/schedule/schedule-grid-program";
@import "components/schedule/schedule-radiolist";

// pages

@import "page/radio";
@import "page/streams";
@import "page/admin";

body {
  padding-top: $padding-top;
  //color: grey;

  &.body-app {
    background-color: $background-color !important;
    padding-top: 50px;
  }

  &.body-app-schedule {
    #app {
      overflow-x: hidden;
    }
  }
}
