.progradio-dark:not(.progradio-nodark) {
  @import "colors_dark";
  @import "variables";

  // theme

  @import "bootswatch_darkly/_variables";
  @import "../../node_modules/bootstrap/scss/bootstrap";
  @import "bootswatch_darkly/_bootswatch";

  @import "main";

  // dark specific

  .program-img, .streams-one-img,
  .radio-list-one-wrapper .radio-logo,
  .radio-page-side img,
  .radio-page-shows .img-show,
  .now-page-show .img-show,
  .radio-page-more-one-logo {
    filter: brightness(.9) contrast(1.1);
  }

  /* vue-select overloading, until we replace the component */
  .vs__dropdown-toggle {
    border-color: $gray-700 !important;

    .vs__selected-options {
      .vs__selected {
        color: $gray-600 !important;
      }
    }

    .vs__actions {
      .vs__clear, .vs__open-indicator {
        svg {
          fill: rgba(136, 136, 136, 1) !important;
        }
      }
    }
  }
}
