@import url(https://fonts.googleapis.com/css2?family=Lobster&text=AdictRadoProgmes&display=swap);

@font-face {
  font-family: 'Lobster', arial;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  //src: url(https://fonts.gstatic.com/l/font?kit=neILzCirqoswsqX9_oC0OoliAvSRzBR3yET4sg&skey=7ed805a363b4659c&v=v23) format('woff2');
}

$zindex-tooltip: 1270;

[v-cloak] {display: none}

@import 'utils/mixins';
@import 'utils/vuemultiselect';

@import 'utils/misc';

@import "components/_navbar.scss";
@import "components/_offmenu.scss";
@import "components/_footer.scss";

// components

@import "components/loader";
@import "components/toast";
@import "components/player/player";
@import "components/schedule/collection-switcher";
@import "components/schedule/category-filter";
@import "components/schedule/timeline";
@import "components/schedule/schedule-grid";
@import "components/schedule/schedule-grid-program";
@import "components/schedule/schedule-radiolist";

// pages

@import "page/radio";
@import "page/faq";
@import "page/streams";
@import "page/stream";
@import "page/admin";
@import "page/now";
@import "page/songs";

body {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;

  &.body-app {
    background-color: $background-color !important;
    padding-top: 50px;
  }

  &.body-app-schedule {
    #app {
      overflow-x: hidden;
    }
  }

  ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
  }
}

.tooltip {
  z-index: $zindex-tooltip !important;
}

/* Bootstrap overlaoding */

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-width: 300px;
}
