//$font-size-base: 0.8125rem;
//$navbar-brand-height: 3.125rem; // trying 50px

// Global

$font-size-root: 13px;
$font-family-sans-serif:  "Roboto", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$link-decoration: none;
$link-hover-decoration: underline;

// Btn

$btn-padding-y-sm: 0.538rem;
$btn-padding-x-sm: 0.923rem;

// Navbar
$navbar-padding-y: 2px !default;
$navbar-height: 50px;

$padding-top: 5.3rem;

// Tast

$toast-max-width: 250px;
$toast-font-size: 1.154rem;

// Sizing

$days: 1;
$one-hour-pixel: 360;

$viewport-width: calc(#{$days} * 24px * #{$one-hour-pixel});

// Pagination

$pagination-padding-y: 0.462rem !default;
$pagination-padding-x: 1.077rem !default;

// Schedule

$timeline-height: 40px;

$radio-list-width: 71px;
$margin-from-radio-list: calc(#{$radio-list-width} + 5px);

$grid-row-height: 64px;
