{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque error impedit itaque odit officia reiciendis sequi voluptatibus. Accusamus blanditiis, explicabo illo itaque maxime minus natus nesciunt rem reprehenderit veritatis.
        </div>
    </div>
</div>


{% endblock %}
