parameters:
    admin_password:
    redis_dsn: redis://127.0.0.1/0
    analytics: 123

    # based on xinston-mail & emailjs
    logmail:
        enable: true
        username:
        password:
        host:
        port:
        ssl: true
        tls: false
        authentication: ['LOGIN']
        to:
        from:
        level: 'warn'
        unique: false
        html: true
