.small-9 {
  font-size: 0.692rem !important;
  line-height: 0.923rem !important;
  display: block;
  margin-top: 5px !important;
}

.small-10 {
  font-size: 0.769rem !important;
}

.small-12 {
  font-size: 1rem !important;
}

.alert-light {
  background: none !important;
  background-color: var(--progradio-alert-light-bg) !important;
  color: var(--progradio-alert-light-color);

  a {
    color: var(--progradio-alert-light-color-link) !important;
  }

  h5 {
    color: var(--progradio-alert-light-color);
  }

  a:not(:hover) {
    text-decoration: none;
  }
}

.w-sm-25 {
  width:25% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.toast-cookie-app {
  width: 450px;
}

.link-no-to-bold {
  color: var(--bs-body-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
  }
}

.flags-container {
  /* taken from vue plugin */

  .gb-flag--micro {
    height: 13px;
  }

  .gb-flag {
    filter: grayscale(50%);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;

    &:hover {
      filter: grayscale(0);
    }
  }
}

.affiliate-frame {
  background-color: white;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      font-size: 1.231rem;
    }
  }

  .affiliate-text {
    color: black;
    font-size: 1.154rem;
    letter-spacing: .09rem;
    line-height: normal;
  }
}
