.select-output {
  padding: 0.385rem 0.538rem !important;
}

.player-output {
  .dropdown-toggle {
    margin-top: 4px;
    margin-left: -2px;
  }

  .form-floating {
    label {
      padding-bottom: 10px;
    }
  }
}
