@import "volume";
@import "player-modal";

$icon-size: 1.154rem;
$icon-size-hover: 1.231rem;
$icon-play-size: 1.769rem;
$icon-play-size-hover: 1.846rem;

$icon-size-sm: 1.231rem;
$icon-size-hover-sm: 1.231rem;
$icon-play-size-sm: 2.462rem;
$icon-play-size-hover-sm: 2.462rem;

.navbar-player {
  z-index: 1260; /* to get over navbar */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 41px;
  width: 302px;
  //width: 505px;

  margin-top: 5px;
  background-color: var(--progradio-player-background);
  border-radius: 5px;

  color: var(--progradio-player-color);

  &:hover {
    @include media-breakpoint-up(sm) {
      .player-radio-link {
        visibility: visible !important;
        opacity: 1;
        background-color: var(--progradio-player-background);
      }
    }
  }

  /* on mobile, put player at the bottom */
  @include media-breakpoint-down(sm) {
    top: auto;
    bottom: 13px;
    width: 322px;
    height: 57px;
    //left: ~"calc(50% - @{radio-list-width})";
  }

  @include media-breakpoint-up(sm) {
    width: 362px;
  }

  @include media-breakpoint-up(xxl) {
    width: 447px;
  }

  @media (min-width: 1920px) {
    width: 505px;
  }

  .player-wrap {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-sound {
    width: 30px;

    padding-top: 2px;
    padding-left: 10px;
    padding-right: 2px;

    text-align: center;
    cursor: pointer;

    //@include media-breakpoint-down(sm) {
    //  width: 34px;
    //}

    i {
      font-size: $icon-size;

      @include media-breakpoint-down(sm) {
        font-size: $icon-size-sm;
      }
    }

    .player-muted {
      color: $danger;
    }
  }

  .player-playpause {
    width: 36px;

    font-size: $icon-play-size;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      width: 45px;
      padding-left: 10px;
      font-size: $icon-play-size-sm;
    }

    //margin-top: -2px;
    padding-top: 2px;

    &.player-playpause-disabled {
      opacity: 0.7;
      cursor: auto;
    }

    &:hover:not(.player-playpause-disabled) {
      padding-top: 1px;
      font-size: $icon-play-size-hover;

      @include media-breakpoint-down(sm) {
        font-size: $icon-play-size-hover-sm;
      }
    }

    .spinner-border.spinner-border-sm {
      --bs-spinner-border-width: 0.13em !important;
    }
  }

  .player-infos {
    flex: 1;

    align-items: center;
    justify-content: center;
    overflow: hidden;

    padding-left: 0;
    padding-right: 5px;

    color: white;
    text-align: center;
    line-height: 1.3em;

    cursor: pointer;

    $player-info-height: 32px;

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }

    /* rolodex effect */
    ul {
      list-style: none;
      height: 100%;
      max-height: $player-info-height;

      @include media-breakpoint-down(sm) {
        max-height: calc($player-info-height + 10px);
      }

      margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;

      //animation-name: roll-up-3; !* dynamic *!
      animation-duration: 12s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      --progradio-anim-infos-height1: #{calc(-1 * $player-info-height)};
      --progradio-anim-infos-height2: calc(-2 * $player-info-height);

      @include media-breakpoint-down(sm) {
        --progradio-anim-infos-height1: #{calc(-1 * $player-info-height - 10px)};
        --progradio-anim-infos-height2: #{calc(-2 * $player-info-height - 20px)};
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: $player-info-height;
        min-height: $player-info-height;
        max-height: $player-info-height;

        @include media-breakpoint-down(sm) {
          height: calc($player-info-height + 10px);
          min-height: calc($player-info-height + 10px);
          max-height: calc($player-info-height + 10px);
        }

        overflow-y: hidden;
      }
    }

    @keyframes roll-up-2 {
      0%, 50%, 100% { transform: translateY(0) }
      60%, 90% { transform: translateY(var(--progradio-anim-infos-height1)) }
    }

    @keyframes roll-up-3 {
      0%, 20%, 100% { transform: translateY(0) }
      30%, 45%, 80%, 90% { transform: translateY(var(--progradio-anim-infos-height1)) }
      55%, 70% { transform: translateY(var(--progradio-anim-infos-height2)) }
    }
  }

  .player-name-help {
    flex: 1;
    text-align: center;
    font-size: 0.846rem;
    line-height: 1.5em;
  }

  .player-favorite, .player-add-song, .player-timer {
    width: 25px;
    padding-top: 2px;

    cursor: pointer !important;

    @include media-breakpoint-down(sm) {
      width: 28px;
    }

    i {
      font-size: $icon-size;

      @include media-breakpoint-down(sm) {
        font-size: $icon-size-sm;
      }
    }

    &:hover {
      padding-top: 1px;

      i {
        font-size: $icon-size-hover;

        @include media-breakpoint-down(sm) {
          font-size: $icon-size-hover-sm;
        }
      }
    }
  }

  .player-radio-link {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in-out 3000ms, background-color 250ms ease-in-out 3000ms;
    position: absolute;
    top: 11px;
    left: -20px;
    width: 21px;

    text-align: right;
    line-height: 1em;

    padding: 4px 3px 3px 2px;
    background-color: $primary;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    a {
      color: var(--progradio-player-link-color);

      &:hover {
        color: var(--progradio-player-color);
      }

      i {
        font-size: 1.077rem;
      }
    }
  }

  .player-radio-previous {
    position: absolute;
    top: 8px;
    left: -21px;
    width: 23px;

    text-align: right;
    line-height: 1em;
    cursor: pointer;

    padding: 5px 20px 6px 5px;
    background-color: var(--progradio-player-background);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    @include media-breakpoint-down(sm) {
      top: 17px;
    }

    i {
      color: var(--progradio-player-link-color);
      font-size: 1rem;

      &:hover {
        color: var(--progradio-player-color);
      }
    }

    a {
      color: var(--progradio-player-link-color);

      &:hover {
        color: var(--progradio-player-color);
      }

      i {
        font-size: 1rem;
      }
    }
  }

  .player-timer {
    &.player-timer-active {
      color: $timer-active;
    }
  }
/*
  .player-timer {
    //visibility: hidden;
    //opacity: 0;
    //transition: opacity 250ms ease-in-out 250ms, background-color 250ms ease-in-out 250ms;

    position: absolute;
    top: 8px;
    right: -21px;
    width: 23px;

    text-align: right;
    line-height: 1px;
    cursor: pointer;

    padding: 5px 5px 6px 6px;
    background-color: $player-background;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    @include media-breakpoint-down(sm) {
      top: 12px;
    }

    a {
      color: var(--progradio-player-link-color);

      &:hover {
        color: $player-color;
      }

      &.player-timer-active {
        color: $timer-active;
      }

      i {
        font-size: 1em;
      }
    }
  }
*/
  .timer-fade-enter-active, .timer-fade-leave-active,
  .play-prev-fade-enter-active, .play-prev-fade-leave-active {
    transition: opacity .3s ease;
  }
  .timer-fade-enter, .timer-fade-leave-to,
  .play-prev-fade-enter, .play-prev-fade-leave-to {
    opacity: 0;
  }
}
