# http://progradio.local/app_dev.php/media/cache/resolve/program_thumb/media/program/rtl_7776730346_pascal-praud.jpg
# http://progradio.local/media/cache/program_thumb/media/program/rtl_7776730346_pascal-praud.jpg

# http://progradio.local/media/cache/program_thumb/media/program/rtl_7776730346_pascal-praud.jpg

# For some reason env variables are not available before mod_rewrite ...
SetEnvIf Host \.local SYMFONY_ENV=dev

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{ENV:SYMFONY_ENV} dev
#RewriteRule ^(.+)$  /app_dev.php/media/cache/resolve/program_thumb/$1
RewriteRule ^(.+)$  /app_dev.php/media/cache/resolve/$1 [R=302,L]
#
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$  /media/cache/resolve/$1 [R=302,L]
