{% extends 'base.html.twig' %}

{% block title %}Suppression du compte{% endblock %}

{% block body %}
<div class="container container-content">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="mb-4">Suppression du compte</h3>
            <div class="alert alert-success" role="alert">Votre compte a bien été supprimé.</div>
            <p>
                <strong>Que souhaitez-vous faire maintenant ?</strong><br>
                <a href="{{ path('app') }}schedule">Consulter les programmes radios</a><br>
                <a href="{{ path('app') }}streaming">Ecouter des radios en streaming</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
