{% extends 'default/user/user.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block section %}
Mot de passe
{% endblock %}

{% block content %}
    {% if success == true %}
        <div class="alert alert-success" role="alert">Le mot de passe a été modifié.</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
