{% extends 'base_site.html.twig' %}

{% import _self as self %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-4">Mentions légales</h3>
            <p>Programmes-Radio.com et Radio-Addict.com sont publiés par FunkyBits, auto-entreprise à Paris.<p>
            <p>Le site web est hébergé par la société ONLINE SAS, BP 438 - 75366 Paris CEDEX 08 - http://www.online.net.</p>
            <p>Le code source est <a target="_blank" href="https://github.com/conradfr/ProgRadio">disponible sur Github</a> selon la licence
                <a target="_blank" href="https://opensource.org/licenses/NPOSL-3.0">Non-Profit Open Software License 3.0 (NPOSL-3.0)</a>.</p>
            <p>L'application utilise des cookies pour sauvegarder les radios favorites de l'utilisateur et les données du lecteur audio et du streaming.</p>
            <p>Les applications Android "Programmes Radio" et "Radio-Addict" ne collectent pas de données utilisateurs et ne revendent pas de données à des tiers.</p>
            <p>L'email des utilisateurs est uniquement utilisé pour se connecter au compte (optionnel).</p>
            <p>De plus les utilisateurs ont la possibilité de supprimer leur compte.</p>
            <p>Ce site utilise des icones et drapeaux de <a target="_blank" href="https://www.flaticon.com/authors/freepik">Freepik</a>
                depuis from <a target="_blank" href="https://www.flaticon.com/authors/freepik">www.flaticon.com</a></p>
            <p>Ce site utilise des icones de <a target="_blank" href="https://www.flaticon.com/authors/pixel-perfect">Pixel Perfect</a>
                depuis from <a target="_blank" href="https://www.flaticon.com/authors/pixel-perfect">www.flaticon.com</a></p>
            <p>Ce site utilise des icones de <a target="_blank" href="https://www.flaticon.com/authors/google">Google</a>
                depuis from <a target="_blank" href="https://www.flaticon.com/authors/google">www.flaticon.com</a></p>
            <p>La section streaming utilise les données de l'API communautaire <a href="http://www.radio-browser.info/">Radio Browser</a>. Les lectures de radio sont comptabilisées de manière anonyme par cette API pour établir le classement par popularité.</p>
        </div>
    </div>
</div>
{% endblock %}
