{% extends 'base.html.twig' %}

{% import _self as self %}

{% block title %}Mentions légales - Programme Radio{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <h3>Mentions légales</h3>
                <p>Programmes-Radio.io est publié par FunkyBits, auto-entreprise à Paris.<p>
                <p>Le site web est hébergé par la société ONLINE SAS, BP 438 - 75366 Paris CEDEX 08 - http://www.online.net.</p>
                <p>Le code source est <a target="_blank" href="https://github.com/conradfr/ProgRadio">disponible sur Github</a> selon la licence
                    <a target="_blank" href="https://opensource.org/licenses/NPOSL-3.0">Non-Profit Open Software License 3.0 (NPOSL-3.0)</a>.</p>
                <p>L'application utilise des cookies pour sauvegarder les radios favorites de l'utilisateur et les données du lecteur audio.</p>
                <p>Ce site utilise des icones de <a target="_blank" href="https://www.flaticon.com/authors/freepik">Freepik</a>
                    depuis from <a target="_blank" href="https://www.flaticon.com/authors/freepik">www.flaticon.com</a></p>
                <p>Ce site utilise des icones de <a target="_blank" href="https://www.flaticon.com/authors/google">Google</a>
                    depuis from <a target="_blank" href="https://www.flaticon.com/authors/freepik">www.flaticon.com</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
