#faq {
  .content {
    dl {
      margin-bottom: 15px;
    }

    .faq-collection-link {
      //font-weight: bold;
      color: darken(@link-color, 20%);
    }
  }

  .twitter-feed-wrapper {
    margin-top: 20px;

    @media (max-width: @screen-xs-max) {
      margin-top: 10px;
    }
  }
}
