.schedule-page {
  padding-top: 20px;

  .title {
    @media (max-width: @screen-xs-max) {
      text-align: center;
      margin-bottom: 28px;
    }

    h5 {
      margin-top: 0;
      margin-bottom: 5px;

      @media (max-width: @screen-xs-max) {
        margin: 10px 0 5px;
      }
    }
  }

  .schedule-day-shows {
    .media {
      margin-bottom: 20px;
    }

    .media-current {
      background-color: mix(white, @brand-primary, 96.5%);;
      -webkit-box-shadow: 0px 0px 20px 5px rgba(247,251,255,1);
      -moz-box-shadow: 0px 0px 20px 5px rgba(247,251,255,1);
      box-shadow: 0px 0px 20px 5px rgba(247,251,255,1);
    }

    .show-title {
      font-weight: bold;
      margin-bottom: 0;
    }

    .show-host {
      line-height: 1.56;
      color: #444;
    }

    .media-body {
      p {
        margin: 3px 0 0;
        line-height: 1.5;
      }
    }

    .sections {
      margin-top: 25px;
      margin-left: 40px;

      font-size: @font-size-small;

      h6 {
        font-size: @font-size-base;
      }

      .media {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }

  .alert {
    margin-top: 25px;
  }

}

#schedule-app {
  padding: 0 0 20px !important;
}

#schedule-day {
  .schedule-day-shows {
    margin-top: 25px;
  }
}

.schedule-day-radio {
  margin-bottom: 20px; /* for shows without enough text */
}

.webradios-header {
  width: 65%;

  color: #4d6a82;
  text-align: center;
  font-weight: bold;

  margin: 17px auto 20px;

  &:before, &:after {
    content: "";
    display: inline-block;
    width: 50%;
    opacity: 0.3;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
  }

  &:after {
    margin: 0 -55% 0 .5em;
  }
}

.schedule-page-streams-one {
  margin-bottom: 20px;
}

.schedule-day-play {
  text-align: center;

  @media (max-width: @screen-xs-max) {
    margin-top: 10px;
  }

  a {
    text-decoration: none;
  }

  .schedule-day-play-button {
    height: 46px;
    width: 46px;
    filter: invert(40%) sepia(24%) saturate(602%) hue-rotate(165deg) brightness(91%) contrast(89%);
  }

  .schedule-day-play-text {
    color: #4d6a82;
    margin-top: 2px;
  }

  &:hover {
    cursor: pointer;

    .schedule-day-play-button {
      filter: invert(65%) sepia(47%) saturate(6464%) hue-rotate(183deg) brightness(97%) contrast(97%);
    }

    .schedule-day-play-text {
      color: @brand-primary;
    }
  }
}

#schedule-now {
  .title h5 {
    @media (max-width: @screen-xs-max) {
      margin-top: 0;
    }
  }


  .link-to-collection-schedule {
    margin-top: 15px;

    &+.radio-schedule-row {
      margin-top: 18px;
    }
  }

  /* now page */
  .radio-schedule-row {
    margin-top: 25px;
    border-bottom: 1px dotted darken(@background-color, 20%);

    &:last-child {
      border: none;
      padding-bottom: 50px;
    }
  }
}
