api_url: 'http://localhost:4000/schedule/'
api_key:

logmail:
    enable: false
    username: ''
    password: ''
    host: ''
    port:
    ssl: true
    tls: false
    authentication: ['LOGIN']
    to: ''
    from: ''
    level: 'info'
    unique: false
    html: true
