#timerModal {
  .modal-header {
    padding-top: 5px !important;
    padding-bottom: 0 !important;
  }

  .modal-footer {
    padding-top: 0 !important;
  }

  .modal-body {
    padding-top: 0 !important;
    padding-bottom: 5px !important;
  }

  h6 {
    font-weight: bold;
  }
}
