
.alert-light {
  background: none !important;
  background-color: $alert-light-bg !important;
  color: $alert-light-color;
  h5 {
    color: $alert-light-color;
  }

  a:not(:hover) {
    text-decoration: none;
  }
}

.w-sm-25 {
  width:25% !important;
}

.cursor-pointer {
  cursor: pointer;
}
