<h3>Réinitialisation du mot de passe</h3>

<p>
    Bonjour,<br>
    Une demande de réinitialisation du mot de passe a été faite sur https://www.programmes-radio.com
</p>

<p>
    Pour mettre à jour votre mot de passe, cliquez sur ce lien (valide 24h) : <a href="{{ url('reset_password', {'token': token}, false) }}">{{ url('reset_password', {'token': token}, false) }}</a>
</p>

<p>
    Si vous n'êtes pas à l'origine de cette demande vous pouvez ignorer cet email.
</p>

<p>
    Cordialement,<br>
    Programmes-Radio.com
</p>
