<h3>Bienvenue !</h3>

<p>
    Bonjour,
</p>

<p>
    Vous êtes désormais inscrit(e) sur <a href="https://www.programmes-radio.com">Programmes-Radio.com</a>
</p>

<p>
    Si vous aviez des radios ou streamings favoris ceux-ci sont désormais enregistrés dans votre compte.
</p>

<p>
    Cordialement,<br>
    Programmes-Radio.com
</p>
