<h3>Modification du mot de passe</h3>

<p>
    Bonjour,
</p>

<p>
    Le mot de passe du compte associé à cette adresse à été modifié sur https://www.programmes-radio.com.
</p>

<p>
    Si cela n'est pas de votre fait vous pouvez annuler ce changement et choisir un nouveau mot de passe en cliquant sur ce lien (valide 24h) : <a href="{{ url('reset_password', {'token': token}, false) }}">{{ url('reset_password', {'token': token}, false) }}</a>.
</p>

<p>
    Cordialement,<br>
    Programmes-Radio.com
</p>
