.stream-page {
  h4 {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .stream-page-stream {
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin: auto;
    }
  }

  .stream-page-live {
    background-color: var(--progradio-live-song-background-color);
    border-radius: 5px;
  }

  .stream-one-tags {
    span.badge {
      padding: 6px 8px;
      border-radius: 4px;
    }
  }

  .more-streams {
    .streams-one-more {
      width: 100px;
      height: 155px;

      font-size: 0.769rem;
      color: var(--progradio-more-stream-text-color);

      border: 0;

      @include media-breakpoint-down(sm) {
        width: 75px !important;

        img {
          max-width: 73px;
          max-height: 73px;
        }
      }

      img {
        max-width: 75px;
        max-height: 75px;
      }
    }

    .more-link {
      font-size: 0.923rem;
    }
  }

  .player-add-song {

  }
}
