.stream-page {
  h4 {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .stream-page-stream {
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin: auto;
    }
  }

  .stream-page-live {
    background-color: $live-song-background-color;
    border-radius: 5px;
  }

  .stream-one-tags {
    span.badge {
      padding: 6px 8px;
      border-radius: 4px;
    }
  }

  .more-streams {
    .more-streams-one {
      width: 100px;
      height: 155px;

      font-size: 0.769rem;
      color: $more-stream-text-color;

      img {
        max-width: 75px;
        max-height: 75px;
      }
    }

    .more-link {
      font-size: 0.923rem;
    }
  }

  .player-add-song {

  }
}
