
.streams-filters-container {
  margin-top: 20px;
  margin-bottom: 15px;

  .input-group-text {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-control {
    padding-top: 0.308rem;
    padding-bottom: 0.615rem;
    padding-left: 0.769rem;
  }

  .form-control-feedback {
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    z-index: 100;
    display: block;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

  }
}

.streams {
  flex-direction: row;
  flex-wrap: wrap;

  .streams-one {
    position: relative;
    width: 150px;
    //border: 1px solid red;
    background-color: $program-color;
    border: 1px solid darken($background-color, 20%);

    margin-bottom: 10px;
    margin-right: 10px;

    cursor: pointer;

    @include media-breakpoint-down(sm) {
      width: 155px;
    }

    /* from gb-flag */
    .streams-one-icon {
      height: 15px;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      user-select: none;
    }

    .streams-one-fav {
      position: absolute;
      top: -4px;
      left: 4px;

      filter: grayscale(100%);

      &:not(.streams-one-fav-isfavorite) {
        display: none;
      }

      &.streams-one-fav-isfavorite, &:hover {
        filter: none;
      }

      &.streams-one-fav-isfavorite:hover {
        filter: grayscale(100%);
      }
    }

    .streams-one-flag {
      position: absolute;
      top: -4px;
      right: 4px;

      &:hover {
        filter: brightness(0.85);
      }
    }

    .streams-one-img {
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 85%;
    }

    .streams-one-name {
      position: relative;

      height: 75px;
      overflow-y: hidden;
      text-align: center;

      //line-height: 60px;
      line-height: 1.5em;
      color: $gray-800;
      font-size: 12px;

      padding-left: 10px;
      padding-right: 10px;

      .streams-one-song {
        position: absolute;
        bottom: 5px;
        width: 90%;
        text-align: center;
        overflow: hidden;
        color: $gray-500;
        font-size:  11px;
        line-height: 1.3em;
      }

      .streams-one-tags {
        position: absolute;
        bottom: 5px;
        width: 90%;
        text-align: center;
        display: none;
        overflow: hidden;
        line-height: 1.7em;

        .badge {
          display: inline;
          margin: 0 1px;

          &.badge-inverse {
            color: $gray-500;
            border: 1px solid $gray-500;
          }
        }
      }
    }

    .streams-one-img-play {
      width: 100%;
      height: 100%;
    }

    &:hover {
      .streams-one-fav {
        display: block;
      }

      .streams-one-tags {
        display: block;
      }
    }

    &:hover:not(.streams-one-play-hide), &.streams-one-play-active:not(.streams-one-play-hide) {
      box-shadow: 0 0 7px 0 rgba(0,0,0,.35);

      .streams-one-img-play {
        background-color: $primary;

        mask-image: url('../../img/play-button-inside-a-circle.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 75% 75%;

        -webkit-mask-image: url('../../img/play-button-inside-a-circle.svg');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: 70% 70%;

        /* IE only, default to black icon */
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          background-color: transparent;

          background-image: url('../../img/play-button-inside-a-circle.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 75% 75%;
        }
      }

      &.streams-one-play-active:not(:hover) {
        .streams-one-img-play {
          opacity: 0.9;
        }

        &.streams-one-play-paused:not(:hover) {
          .streams-one-img-play {
            opacity: 0.6;
          }
        }
      }

      &.streams-one-play-active {
        .streams-one-name {
          font-weight: bold;
        }
      }

      &.streams-one-play-active:not(.streams-one-play-paused) {
        .streams-one-img-play {
          mask-image: url('../../img/rounded-pause-button.svg') !important;
          -webkit-mask-image: url('../../img/rounded-pause-button.svg') !important;

          /* IE only, default to black icon */
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            background-image: url('../../img/rounded-pause-button.svg') !important;
          }
        }
      }
    }
  }
}

ul.pagination {

  li a {
    cursor: default;
  }

  li.ellipsis {
    padding-left: 32px;

    & a:before {
      content: "\2026";
      font-size: 1.846rem;
      position: absolute;
      top: 0;
      left: -25px;
      color: $body-color;
    }
  }
}
