#offcanvasMenu {
  .offcanvas-body {
    padding-top: calc(var(--bs-offcanvas-padding-y) + var(--safe-area-inset-top));
  }
}

.offcanvas-end {
  width: 19.231rem;
}

.offmenu-item-icon {
  width: 35px;

  i {
    font-size: 1.538rem;
  }
}

.offcanvas-divider {
  border-bottom: 1px solid var(--progradio-offcanvas-divider);
}
