.footer {
  width: 100%;

  position: absolute;
  height: 30px;
  //margin-top: -30px;

  font-size: 12px;

  small {
    color: @timeline-color;
    font-size: 11px;
  }

  p {
    color: @timeline-color;
    margin: 8px 0 0;
  }

  a {
    color: lighten(@timeline-color, 5%);

    &:hover,
    &:focus {
      color: @timeline-color;
    }
  }
}
