@import "../bootswatch/paper/variables";

@import "volume";

@player-background: lighten(@brand-primary, 5%);

.navbar-player {
  z-index: 1200; /* to get over navbar */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    @media (min-width: @screen-md-min) {
      .player-radio-link {
        visibility: visible !important;
        opacity: 1;
        background-color: @player-background;
      }
    }
  }

  /* on mobile, put player at the bottom */
  @media (max-width: @screen-xs-max) {
    top: auto;
    bottom: 10px;
    width: 242px;
    //left: ~"calc(50% - @{radio-list-width})";
  }

  height: 41px;
  width: 265px;

  margin-top: 5px;
  background-color: @player-background;
  border-radius: 5px;

  .player-wrap {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-sound {
    width: 28px;

    padding-top: 3px;
    padding-left: 10px;

    color: white;
    text-align: center;
    cursor: pointer;

    .player-muted {
      color: @brand-danger;
    }

    /* on mobile, hide volume (managed by phone usually) */
    @media (max-width: @screen-sm-max) {
      &.player-sound-fader {
        display: none;
      }
    }

    /* on non-mobile, hide mute (done by volume icon click) */
    @media (min-width: @screen-md-min) {
      &.player-sound-mute {
        display: none;
      }
    }
  }

  .player-playpause {
    width: 36px;

    font-size:  11px;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    margin-top: -2px;

    &.player-playpause-disabled {
      opacity: 0.7;
      cursor: auto;
    }

    .icon-round{
      height: 24px;
      width: 24px;

      text-align: center;

      border-radius: 50%;
      border: 3px solid #fff;

      padding-top: 3px;
      padding-left: 2px;
    }

    @-moz-document url-prefix() {
      .icon-round {
        padding-top: 4px;
        padding-left: 1px;
      }
    }
  }

  .player-name {
    flex: 1;

    padding-left: 0;
    padding-right: 5px;

    color: white;
    text-align: center;
    line-height: 1.3em;
  }

  .player-name-help {
    font-size: 10px;
    line-height: 1.5em;
  }

  .player-favorite {
    cursor: pointer;
    height: 30px;
    width: 30px;

    background-color: @program-color;

    mask-image: url('../../img/favorite-empty.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 13px 13px;

    -webkit-mask-image: url('../../img/favorite-empty.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 13px 13px;

    /* IE only, default to black icon */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background-color: transparent;

      background-image: url('../../img/favorite-empty.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 77% 77%;
    }

    &.player-favorite-added/*, &:hover*/ {
      mask-image: url('../../img/favorite.svg');
      -webkit-mask-image: url('../../img/favorite.svg');

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        background-image: url('../../img/favorite.svg');
      }
    }

    @media (min-width:  @screen-sm-max) {
      &:hover {
        mask-image: url('../../img/favorite.svg');
        -webkit-mask-image: url('../../img/favorite.svg');

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          background-image: url('../../img/favorite.svg');
        }
      }

      &.player-favorite-added:hover {
        mask-image: url('../../img/favorite-empty.svg');
        -webkit-mask-image: url('../../img/favorite-empty.svg');

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          background-image: url('../../img/favorite-empty.svg');
        }
      }
    }

/*    &.player-favorite-added:hover {
      mask-image: url('../../img/favorite-empty.svg');
      -webkit-mask-image: url('../../img/favorite-empty.svg');

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        background-image: url('../../img/favorite-empty.svg');
      }
    }*/

    //img {
    //  height: 13px;
    //  width: 13px;
    //  filter: invert(100%) sepia(0%) saturate(70%) hue-rotate(160deg) brightness(111%) contrast(100%);
    //}
  }

  .player-radio-link {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in-out 4500ms, background-color 300ms ease-in-out 3500ms;

    position: absolute;
    top: 10px;
    right: -21px;
    width: 21px;

    text-align: right;
    line-height: 1em;

    padding: 3px 5px 5px 0;
    background-color: @brand-primary;;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    a {
      color: mix(white, @player-background, 70%);

      &:hover {
        color: mix(white, @player-background, 85%);
      }

      span {
        font-size: 10px;
      }
    }
  }

}
