
.schedule-radio-list {
  position: absolute;
  z-index: 2;
  top: 41px;
  left: 0;

  width: @radio-list-width;
  //background-color: #343434;

  opacity: 0.95;

  a {
    position: relative;
    z-index: 3;
  }

  .radio-logo {
    display: block;
    box-sizing: border-box;
    height: @grid-row-height;

    cursor: pointer;

    align-items: center;
    justify-content: center;

    background-color: #343434;
    background-repeat: no-repeat;
    background-position: center;

    border-bottom: 1px solid lighten(black, 3.6%);
    //border: 1px solid red;
    box-shadow: 3px 0 8px -3px rgba(0,0,0,0.4);

    &.radio-logo-nohover {
      cursor: default;
    }

    &:hover:not(.radio-logo-nohover) {
      //opacity: 0.9;
    }

    .radio-logo-play {
      width: 100%;
      height: 100%;

      &.radio-logo-play-hide {
        display: none;
      }

      &:hover:not(.radio-logo-play-hide), &.radio-logo-play-active:not(.radio-logo-play-hide) {
        //opacity: 0.9;

        background-color: @brand-primary;

        mask-image: url('../../img/play-button-inside-a-circle.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 75% 75%;

        -webkit-mask-image: url('../../img/play-button-inside-a-circle.svg');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: 70% 70%;

        /* IE only, default to black icon */
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          background-color: transparent;

          background-image: url('../../img/play-button-inside-a-circle.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 75% 75%;
        }
      }

      &.radio-logo-play-paused:not(:hover) {
        opacity: 0.3;
      }

      &.radio-logo-play-active {
        opacity: 0.8;
      }

      &.radio-logo-play-active:not(.radio-logo-play-paused) {
        mask-image: url('../../img/rounded-pause-button.svg') !important;
        -webkit-mask-image: url('../../img/rounded-pause-button.svg') !important;

        /* IE only, default to black icon */
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          background-image: url('../../img/rounded-pause-button.svg') !important;
        }
      }
    }
  }

  .radio-list-one-wrapper {
    position: relative;
    //z-index: 2;
  }

  .radio-list-one-wrapper:hover {
    .radio-submenu {
      //display: block;
      left: @radio-list-width;
    }
  }

  .radio-submenu {
    //display: none;
    z-index: 0;
    position: absolute;
    left: -@radio-list-width;
    //left: -35px;
    top: -1px;
    transition: left 200ms ease-in-out 500ms;

    height: calc(@grid-row-height + 1px);
    width: calc(@radio-list-width * 2);

    opacity: 0.95;
    background-color: #343434;

    border: 1px solid black;
    border-left: none;

    cursor: pointer;

    .radio-submenu-entry {
      //width: 100%;
      display: table-cell;
      height: 100%;
      width: @radio-list-width;

      font-size: 9px;
      text-align: center;
      line-height: 1.0;
      color: darken(@program-color, 25%);

      padding-top: 5px;

      img {
        height: 28px;
        width: 28px;

        //transition: width 50ms ease-in-out 0ms, height 50ms ease-in-out 0ms;
      }

      p {
        margin-top: 5px;
      }

      .filter-fav {
        filter: invert(13%) sepia(84%) saturate(4375%) hue-rotate(349deg) brightness(108%) contrast(95%);
      }

      .filter-page {
        filter: invert(100%);
      }

      span {
        //vertical-align: bottom;
        display: inline-block;
        align-self: flex-end;
      }

      &:hover {
        padding-top: 4px;

        img {
          height: 30px;
          width: 30px;
        }

        p {
          margin-top: 4px;
        }
      }
    }

    a {
      text-decoration: none;
      // avoid inherited glitch
      transition: none;
      -webkit-transition: none;
    }
  }

  /* collection switch */

  .radio-list-leave-active, .radio-list-enter-active {
    transition: all .05s;

    .radio-logo {
      transition: all .05s;
    }
  }

  .radio-list-leave-to {
    .radio-logo {
      opacity: 0;
    }
  }

  .radio-list-enter-to {
    .radio-logo {
      opacity: 1;
    }
  }
}
