<div class="alert alert-light py-4 px-4">
    <h5>{{ 'boxes.no_account.title'|trans }}</h5>
    <p class="mt-3 mb-0"><a href="{{ path('app_register') }}">{{ 'boxes.no_account.content'|trans }}</a></p>
</div>
