<div class="alert alert-light py-4 px-4">
    <h5>{{ 'boxes.why_account.title'|trans }}</h5>
    <p class="mt-3 mb-0">{{ 'boxes.why_account.content'|trans }}</p>
    <p class="mt-3 mb-0">{{ 'boxes.why_account.content2'|trans }}</p>
</div>
